@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme{
    --color-primary:#C9184A;
    --color-secondary:#F24476;
    --color-tertiary:#302F2F;
}